@font-face {
  font-family: "font-1";
  src: url(../font/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(../font/Merriweather-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(../img/bg.jpg) fixed no-repeat center/cover;
  height: 3300px;
}
button {
  padding: 10px 25px;
  border: 2px solid black;
  text-transform: uppercase;
  font-weight: 900;

  &:hover {
    cursor: pointer;
  }
}
.date {
  font-family: "font-2";
}
p {
  line-height: 30px;
  width: 60%;
  margin: 15px auto;
}
h4 {
  font-size: 1.5rem;
  width: 50%;
  margin: 0 auto;
}
